<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="success">
          <th>Device Manufacturer</th>
          <th>Model</th>
          <th>Serial Number</th>
          <th>Electrical System</th>
          <th class="warning">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of electricalDevices | async">
          <td>
            <strong class="text-primary">{{device.manufacturerName}}</strong>
          </td>
          <td>{{device.modelName}}</td>
          <td>{{device.serialNumber}}</td>
          <td>{{device.electricalSystem}}</td>
          <td (click)="goToDetails(device.id)">
            <i class="text-warning fa fa-list-alt" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

