<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <table class="table table-striped table-hover">
  <thead>
    <tr class="success">
      <th>Device Model</th>
      <th>Serial Number</th>
      <th>Electrical System</th>
      <th class="warning">Update</th>
      <th class="danger">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong class="text-primary">Samsung</strong>
      </td>
      <td>1AAA23FF22</td>
      <td>Home</td>
      <td>      
      <span class="text-warning glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </td>
      <td>              
      <span class="text-danger glyphicon glyphicon-remove" aria-hidden="true"></span>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>

